{% extends 'launching.html' %}
{% block body %}
<body>
<form>
    <table class="table table-bordered table-hover">
        <tr style="color: white; background-color: black">
            <th>SL NO</th>
            <th>PRODUCT</th>
            <th>BRAND</th>
            <th>IMAGE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th colspan="2"></th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.productname }}</td>
            <td>{{ i.BRAND }}</td>
            <td><img src="{{ i.photo }}" width="50px" height="100px"></td>
            <td>{{ i.description }}</td>
            <td>{{ i.price }}</td>
            <td><a href="/myapp/edit_product/{{ i.id }}" class="btn btn-outline-info">Edit</a> </td>
            <td><a href="/myapp/delete_product/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you Sure?')">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock %}